/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


  /* MY CODE */

  html {
	scroll-behavior: smooth;
  }

  * {
    text-decoration: none;
  }

  body {
    background-color: #fff;
  }

  header {
    background-color: #fff;
    width: 100%;
    height: 100px;
  }

  header .header-brand {
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    position: fixed;
  }

  header nav {
    padding-top: 20px;
  }

  header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
  }

  header nav ul li a {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #111;
  }

  .footer_container {
    display: block;
    align-items: center;
    margin: 100px auto;
    width: 100%;
    height: 100px;
  }

  .footer_container .footer-content {
    /* background-color: white; */
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: nowrap;
    /* align-items: baseline; */
    justify-content: center;
    position: absolute;
  }

  .footer_container .logos {
    margin: 0 auto;
    padding: 0 15px 0 15px;
    width: 20px;
    /* display: ; */
    /* position: fixed; */
  }

  .footer_container p {
    padding: 10px 0px 10px;
    font-family:'Rubik', sans-serif;
    font-size: 12px;
    color: #000;
    text-align: center;
  }


  /*HOME*/

  .container {
    margin: 10px auto;
    width: 90%;
    padding-bottom: 20px;
    /* text-align: center; */
  }


  .content {
    margin: 20px auto;
    width: 90%
  }

  .content h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: #000;
  }

  .content h1 {
    padding-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
  }

  .home-img {
    width: 300px;
    /* padding: 30px 30px; */
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
  }

  /* ABOUT */

  .about-img {
    width: 300px;
    margin-top: 50px;
    padding-left: auto;
    padding-right: auto;
  }

  .container h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    color: #000;
    text-align: left;
    padding: 10px 0 10px 0;
  }

  .container h7 {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    text-align: left;
    padding: 10px 0 10px 0px;
  }

  .content h3 {
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: #000;
    text-align: center;
  }

  .content ul {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-family: 'Rubik', sans-serif;
    color: #000;
    text-align: left;
  }

  .content li {

    font-size: 15px;
    line-height: 20px;
    color: #808080;
    text-align: left;
  }

  .content ol {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-align: justify;
  }

  .content p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-align: justify;
  }

  .resume-container {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    background-color: #000;
    text-align: center;
    padding: 8px;
    border: 3px;
  }

  .resume-container a {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #000;
  }

  /* WORK */

  .research_container {
    margin: 10px auto;
    width: 90%;
  }

  .research_container h3{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .work-content {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }

  .work-content p {
    margin: auto;
    padding: 10px 20px 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #000;
    text-align: center;
  }

  .work-content h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #000;
    text-align: center;
  }

  .container h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    line-height: 30px;
    color: #000;
    text-align: center;
    padding: 10px 0 10px 0;
  }

  .work-img {
    width: 100%;
  }

  .work-img:hover {
    opacity: 0.5;
  }

  /*PORTFOLIO */
  .portfolio-img {
    width: 100%;
  }


  /*GALLERY*/

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 50px;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    text-align: center;
    margin-top: 100px;
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    max-width: 200px;
    margin-top: 10px;
    vertical-align: middle;
    width: 60%;
  }

@media only screen and (min-width: 1000px) {

  a:hover {
    background-color: yellow;
  }

  header .header-brand {
    font-size: 30px;
    display: block;
    margin: 31px 0;
    text-align: left;
    line-height: 30px;
    padding: 0 20px 0 100px;
    float: left;
    position: fixed;
  }

  header nav ul {
    margin: 18px 0;
    float: right;
    padding-right: 100px;
  }

  header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
  }

  header nav ul li a {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #000;
    line-height: 60px;
  }

  /* .footer_container {
    display: block;
    align-items: center;
    margin: 100px auto;
    width: 100%;
    height: 100px;
} */

.footer_container .footer-content {
  position: fixed;
  z-index: 100;
}

  .footer_container .logos {
    /* margin: 0 auto;
    padding: 0 20px 0 20px; */
    width: 30px;
    display: flex;
  }


  .footer_container p {
    text-align: center;
    padding: 10px 0px 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
    color: #000;
  }

  .container {
    width: 90%;
    padding-top: 10px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }

  .container h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    text-align: left;
    padding: 10px 0 10px 0;
  }

  .container h7 {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: black;
    text-align: left;
    padding: 10px 0 10px 60px;
  }

  .content {
    flex-wrap: wrap;
    padding: 0 0 0 0;
  }

  .home-img {
    /* padding-right: 100px; */
    /* float: left; */
    max-width: 300px;
    height: fit-content;
  }

  /* ABOUT */

  .about-img {
    max-width: 300px;
    padding-left: 60px;
    float: right;
  }

  .content h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: black;
    text-align: center;
  }

  .content p {
    padding: 30px 60px 30px 60px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: black;
    text-align: justify;
  }

  .resume-container {
    margin: auto;
    width: 200px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    background-color: #1ab4e5;
    text-align: center;
    padding: 8px;
  }

  .resume-container:hover {
    background-color: #e54b1a;
  }

  .resume-container a {
    font-family:'Rubik', sans-serif;
    font-size: 20px;
    color: #fff;
  }

  /* WORK */

  .work-row {
    display: flex;
  }

  /* Create two equal columns that sits next to each other */
  .work-column {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: 50%;
    padding: 10px;
  }

  .work-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
    align-items: center;
    vertical-align: middle;
  }

  .work-content {
    width: 100%;
    align-content: center;
  }

    .container h1 {
      font-family: 'Rubik', sans-serif;
      font-size: 40px;
      font-weight: bolder;
      line-height: 50px;
      color: #000;
      text-align: left;
      padding: 10px 0 10px 0;
    }

  .research_container {
      display: flex;
      align-items: center;
      justify-content: center;
  }


    .work-content h4 {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      line-height: 25px;
      color: #000;
      text-align: center;
    }

    .work-content p {
      margin: auto;
      padding: 0px;
      font-family: 'Rubik', sans-serif;
      font-size: 15px;
      line-height: 20px;
      color: #000;
      text-align: center;
    }

    /*GALLERY*/
    .gallery_container {
      text-align: center;
      justify-content: center;
      width: 100%;
    }

    .row {
      width: 100%;
    }

    /* Create two equal columns that sits next to each other */
    .column {
      float: left;
      width: 33%;
    }

    .column img {
      max-width: 200px;
      margin-top: 10px;
      vertical-align: middle;
      width: 60%;
    }

    .wave {
      animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
      animation-duration: 2.5s;        /* Change to speed up or slow down */
      animation-iteration-count: infinite;  /* Never stop waving :) */
      transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
      display: inline-block;
    }

    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
       10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
       20% { transform: rotate(-8.0deg) }
       30% { transform: rotate(14.0deg) }
       40% { transform: rotate(-4.0deg) }
       50% { transform: rotate(10.0deg) }
       60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
      100% { transform: rotate( 0.0deg) }
    }

}
